body{
    background-color: aquamarine;

    /*margin-left: 30px;*/

    /*margin-right: 50px;*/

    /*margin-bottom: 20px;*/

    /*margin-top: 10px;*/

    text-align: center;



}

p{

    color: darkblue;
}

.one{
    color: black;
    border: darkgreen 5px solid;
    border-radius: 7px;
    font-size: 50px;
}

.four, .five{
    color: maroon;
    border: darkmagenta 7px solid;
    border-radius: 50px;
}

    a {
      text-decoration: darkmagenta;

    }

.three{
    color: darkred;
    border: darkorange 5px solid;
}


img{

        width: 70%;
        border-radius: 20px 20px 20px 20px;
    }

.two{
    border: firebrick 5px solid;
    border-radius: 5px;

}

/*b{*/
/*   border: black 3px solid;*/
/*}*/

 a:hover{
      color: navy;
    }

 .two:hover{
     color: #cd5c5c;
     font-size: 50px;
     border-bottom:indianred 1px solid;



 }


 .gta{
     width: 70%;
     border-radius: 1px 50px 30px 10px ;

 }
 .hack{
     width: 70%;
     border-radius: 5px 5px 5px 5px;
 }

